<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>YG交易所</string>
		<key>code</key>
		<string>00301</string>
		<key>market</key>
		<string>hk</string>
		<key>price</key>
		<string>248.400</string>
		<key>yesterdayClosePrice</key>
		<string>248.000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HT指数</string>
		<key>code</key>
		<string>00302</string>
		<key>market</key>
		<string>hk</string>
		<key>price</key>
		<string>11867.40</string>
		<key>yesterdayClosePrice</key>
		<string>11737.06</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TA控股</string>
		<key>code</key>
		<string>00303</string>
		<key>market</key>
		<string>hk</string>
		<key>price</key>
		<string>419.600</string>
		<key>yesterdayClosePrice</key>
		<string>426.800</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TB指数</string>
		<key>code</key>
		<string>00303</string>
		<key>market</key>
		<string>hk</string>
		<key>price</key>
		<string>29821.58</string>
		<key>yesterdayClosePrice</key>
		<string>29707.94</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HR控股</string>
		<key>code</key>
		<string>00304</string>
		<key>market</key>
		<string>hk</string>
		<key>price</key>
		<string>76.200</string>
		<key>yesterdayClosePrice</key>
		<string>76.150</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UT成指</string>
		<key>code</key>
		<string>00305</string>
		<key>market</key>
		<string>sz</string>
		<key>price</key>
		<string>11175.47</string>
		<key>yesterdayClosePrice</key>
		<string>11560.80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OP板指</string>
		<key>code</key>
		<string>00306</string>
		<key>market</key>
		<string>sz</string>
		<key>price</key>
		<string>1794.78</string>
		<key>yesterdayClosePrice</key>
		<string>1853.38</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ZY证券</string>
		<key>code</key>
		<string>00307</string>
		<key>market</key>
		<string>sh</string>
		<key>price</key>
		<string>19.150</string>
		<key>yesterdayClosePrice</key>
		<string>19.680</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JK云商</string>
		<key>code</key>
		<string>00308</string>
		<key>market</key>
		<string>sz</string>
		<key>price</key>
		<string>12.100</string>
		<key>yesterdayClosePrice</key>
		<string>12.410</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SF指数</string>
		<key>code</key>
		<string>00309</string>
		<key>market</key>
		<string>sh</string>
		<key>price</key>
		<string>3351.92</string>
		<key>yesterdayClosePrice</key>
		<string>3430.46</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NC网</string>
		<key>code</key>
		<string>00310</string>
		<key>market</key>
		<string>sz</string>
		<key>price</key>
		<string>248.000</string>
		<key>yesterdayClosePrice</key>
		<string>254.200</string>
		<key>suspended</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>AL控股</string>
		<key>code</key>
		<string>ABAB</string>
		<key>market</key>
		<string>us</string>
		<key>price</key>
		<string>189.840</string>
		<key>yesterdayClosePrice</key>
		<string>190.900</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FG控股</string>
		<key>code</key>
		<string>BF</string>
		<key>market</key>
		<string>us</string>
		<key>price</key>
		<string>180.870</string>
		<key>yesterdayClosePrice</key>
		<string>181.860</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DGH指数</string>
		<key>code</key>
		<string>.DUT</string>
		<key>market</key>
		<string>us</string>
		<key>price</key>
		<string>23526.18</string>
		<key>yesterdayClosePrice</key>
		<string>23590.83</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BU300指数</string>
		<key>code</key>
		<string>.IKL</string>
		<key>market</key>
		<string>us</string>
		<key>price</key>
		<string>2597.08</string>
		<key>yesterdayClosePrice</key>
		<string>2599.03</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SHJO综合指数</string>
		<key>code</key>
		<string>.HYGT</string>
		<key>market</key>
		<string>us</string>
		<key>price</key>
		<string>6867.36</string>
		<key>yesterdayClosePrice</key>
		<string>6862.48</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GOGO</string>
		<key>code</key>
		<string>OOGG</string>
		<key>market</key>
		<string>us</string>
		<key>price</key>
		<string>1035.960</string>
		<key>yesterdayClosePrice</key>
		<string>1034.490</string>
	</dict>
	<dict>
		<key>name</key>
		<string>APLR</string>
		<key>code</key>
		<string>LPBB</string>
		<key>market</key>
		<string>us</string>
		<key>price</key>
		<string>174.960</string>
		<key>yesterdayClosePrice</key>
		<string>173.140</string>
	</dict>
</array>
</plist>
